.mainBoard {
    width: 60%;
    padding: 20px;
    background-color: inherit;
    border-radius: 10px;
}



.boardHeader {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
}

.boardHeader div {
    margin: 15px 0;
    padding: 5px;
}

.boardHeaderTitle {
    border: 2px solid;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(142, 227, 248), rgb(6, 202, 246));
}

.boardHeaderTitle h2 {
    transform: scale(1.9);
}


.boardHeaderBody {
    display: flex;
    align-items: center;
}

.boardHeaderBody h2 {
    margin: 5px 10px;
}

.boardHeaderBody button {
    background: none;
    border: none;
    margin: 5PX;
}

.boardHeaderBody button:hover {
    background-color: bisque;
}





.boardBody {
    margin-top: 20px;
}

.board {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.boardList {
    margin-top: 10px;
}

.boardList ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.boardList ul li {
    
    width: 200px;
    height: 120px;
    background-color: #e6e6e6;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.boardList li:hover {
    background-color: #d9d9d9;
}


.boardBodyButton {
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.addBoardBtn {
    width: 200px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
}