

.formField {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formField input {
    width: 75%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 7px 15px;
    margin-top: 20px;
  }
  
  .formField span {
    position: relative;
    left: -45%;
    top: -25px;
    color: #6c6868;
    font-size: 20px;
  }
  
  




.btnGroup {
    width: 100%;
    background: #3c00d0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btnGroup:hover {
    background: #5a2ee4;
    transform: scale(1.05);
  }